@import "tailwindcss";

@theme {
  --font-family-sans: Pretendard, sans-serif;

  --color-main: #ffb235;
  --color-main-300: #ffc669;
  --color-main-200: #ffd89a;
  --color-main-100: #ffe7bf;

  --color-background: #fff2dd;

  --color-gray-900: #282828;
  --color-gray-700: #3a3939;
  --color-gray-600: #545454;
  --color-gray-500: #767676;
  --color-gray-400: #a2a2a2;
  --color-gray-200: #d0d0d0;

  --color-error: #ff3838;
  --color-success: #8dff63;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  font-family: var(--font-family-sans);
}
